*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

.title{
    text-align: center;
    margin-top: 2em;
    color: white;
}
.intro{
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 2em;
    color: white;

}

.esc{
    text-align: center;
    margin-top: 5em;
    color: white;

}
.cards{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    gap: 1em;
}

.cards_1{
    border: solid 1px white;
    padding: 1.8em;
    transition: linear 0.3s;
    color: white;
    padding: 1.8em;
}
.cards_1:hover{
    color: black;
    background: white;
}
body{
    background: black;

}
.list{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    font-size: 2em;
}